# Do not forget: run `docker-compose build --no-cache` after editing this file

yfinance
pandas
requests
apache-airflow-providers-postgres
apache-airflow-providers-redis
apache-airflow-providers-http
